
#container .pane #bar{
	margin: 0px;
	padding: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: -webkit-linear-gradient(-45deg, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); 
}

#container .pane #bar #minimize, #container .pane #bar #maximize, #container .pane #bar #quit{
	border: 1px solid #ffffff;
	padding: 2px;
	padding-left: 20px;
	text-align: center;
	cursor: default;
	color: #ffffff;
	text-shadow: 1px 1px 1px #CCC;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); 
}
